/******************************************************
 * Styles for html5 sections
 *****************************************************/

article {
	background: #fff;
	margin-bottom: 1em;
	overflow: hidden;
	padding: 20px 20px 20px 20px;

	box-shadow: 3px 2px 5px #aaa;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
}

/******************************************************
 * Headings
 *****************************************************/

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 800;
}

h1 {
	font-color:#fff;
	font-size: 2em;
	margin: 0 0 1.25em 0;
	line-height: 1em;
}

h2 {
	font-size: 2em;
	margin: 0 0 1.25em 0;
	line-height: 1em;
}

h3 {
	font-size: 1.35em;
	margin: 0 0 0 0;
}

h4 {
	font-size: 1em;
	margin: 0 0 0 0;
	line-height: 1em;
}

/******************************************************
 * Layout
 *****************************************************/
#container {
	text-align: left;
}
#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#page {
 	width: 960px;
 	margin: 0 auto;
 	position: relative;
}
/******************************************************
 * Rest
 *****************************************************/