/******************************************************
 * Styles for html5 sections
 *****************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
* {
	margin: 0;
}
body {
	font-family: Helvetica;
}
article {
	background: #fff;
	margin-bottom: 1em;
	padding: 2px;
	box-shadow: 3px 2px 5px #aaa;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
}

/******************************************************
 * Headings
 *****************************************************/
h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 {
	font-color:#fff;
	font-size: 2em;
	margin: 0 0 1.25em 0;
	line-height: 1em;
}

h2 {
	font-color:black;
	font-size: 2em;
	margin: 0 0 1em 0;
	line-height: 1em;
}

h3 {
	font-size: 1.35em;
	margin: 0 0 0 0;
}

h4 {
	font-size: 1em;
	margin: 0 0 0 0;
	line-height: 1em;
}

/******************************************************
 * Layout
 *****************************************************/
#container {
	text-align: left;
}

#content{
	clear: both;
	color: #333;
	padding: 0;
	overflow: auto;
}
#page {
 	width: auto;
 	margin: 0 0;
 	position: relative;
}
section {
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	left: 0;
}
section.active {
	z-index: 1000;
}
#overlay_map {
	background-color: #fff;
	margin-bottom: 1em;
	padding: 10px;

	box-shadow: 3px 2px 5px #aaa;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
}
#overlay_map ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #c5ccd4;
	border: 1px solid #aaa;
}
#overlay_map ul li {
	padding: 3px 16px;
	border-top: 1px solid #aaa;
}
#overlay_map ul li:first-child {
	border-top: none;
}
#overlay_map ul li span {
	font-weight: bold;
	float: right;
}

/******************************************************
 * Rest
 *****************************************************/

/* For Options overlay in Geolocations */
#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin: 2em 15px;
}

/* Styles for the chat module */
#chathistory { 
	padding:5px; 
	background:#eee; 
	border-radius:5px; 
	overflow-y: scroll;
	border:1px solid #CCC; 
	margin-top:10px; 
	max-height: 300px; 
}
#chatinput { 
	border-radius:2px; 
	border:1px solid #ccc;
	margin-top:10px; 
	padding:5px; 
	width:400px;
}
#chatstatus { 
	display:block; 
	margin-top:15px; 
}