/******************************************************
 * Styles for html5 sections
 *****************************************************/

article {
	background: #fff;
	margin-bottom: 1em;
	/*overflow: hidden;*/
	padding: 2px 2px 2px 2px;

	box-shadow: 3px 2px 5px #aaa;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
}

/******************************************************
 * Headings
 *****************************************************/

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 800;
}

h1 {
	font-color:#fff;
	font-size: 2em;
	margin: 0 0 1.25em 0;
	line-height: 1em;
}

h2 {
	font-color:#000;
	font-size: 2em;
	margin: 0 0 1.25em 0;
	line-height: 1em;
}

h3 {
	font-size: 1.35em;
	margin: 0 0 0 0;
}

h4 {
	font-size: 1em;
	margin: 0 0 0 0;
	line-height: 1em;
}

/******************************************************
 * Layout
 *****************************************************/
#container {
	text-align: left;
}

#content{
	clear: both;
	color: #333;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}
#page {
 	width: auto;
 	margin: 0 0;
 	position: relative;
}
#map {
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	left: 0;
}
#overlay {
	position: absolute;
	background-color: #fff;
	margin-bottom: 1em;
	padding: 10px 10px 10px 10px;

	box-shadow: 3px 2px 5px #aaa;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
}
/******************************************************
 * Rest
 *****************************************************/